:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

body {
    text-align: center;
    background: black;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.hl {
    color: var(--base);
}

.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 5vw;
    flex-wrap: wrap;
}

.controls div {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1vw;
}

input {
    width: 100px;
}

img {
    width: 70vw;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--base);
    border-radius: 20px;
}